*{
    /* MARGIN = ESPAÇAMENTO EXTERNO DOS ELEMENTOS */
    /* PADDING = ESPACAMENTO DOS ELEMENTOS INTERNOS */
    margin: 0px; 
    padding: 1px;
}

body{

    font-family: "Oswald", sans-serif;
    color: aliceblue;
    
}


h1{
    /* FONT - WEIGHT = ESPESSURA DO TRACO */
    font-weight:  200;
}

h2{    
    font-weight:  600;
}

.bloco{

    /* BORDER = BORDA DO ELEMENTO. SOLID = O ESTILO DA BORDA */
    /* MARGIN RIGHT = CONTROLA QUANTO ESPACO VAZIO A NA DIREITA DO ELEMENTO */
    /* BORDER RADIUS - ARREDONDAMENTO DAS BORDAS, QUANTOS MAIS PIXEIS MAIS ARREDONDA FICA. */
    /* PADDING - ESPAÇO INTERNO ENTRE O CONTEÚDO E A BORDA */
    /* DISPLAY = DEFINE O ESPACO QUE VOCE VAI MODIFICAR*/
    /* FLEX = MODO DE MODIFICAÇÃO QUE CONTROLA OS EIXOS NA VERTICAL E HORIZONTAL */
    background-color: #1E293B;
    border: 1px solid;
    padding: 15px;
    margin-top: 5px;
    margin-right: 1px;
    border-radius: 10px;
    border-color: black;
    display: flex; 
    
}


#aba-navegacao{

    font-size: large;
    font-weight: 100;
    font-style: normal;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px; 
    display: flex;
    justify-content: left;
    align-items: center;

}

/* LINKS JÁ VISITADOS */
a:visited{
    color: greenyellow;
}

/* LINK QUE ESTA ATIVO */
a:active{
    color: greenyellow;
}

/* QUANDO PASSA O CURSO EM CIMA DO LINK */
a:hover{
    color: black;
    font-size: 20px;
    text-decoration: none;
 }

 #rodape{
    
    margin: 0px; 
    padding: 1px;
    text-align: right;
    justify-content: space-between;
    
    
 }

/* Caixa Pai que ativa o Flexbox para colocar lado a lado */
.pai-texto {
    display: flex;
    justify-content: space-between; /* Mantém um espaço igual entre os blocos */
    gap: 20px; /* Distância entre os dois blocos */
    margin-top: 10px;
}


#texto1, #texto2 {
    background-color: #1E293B;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
}